<h1 class="mb-4"><%= @place.name %></h1>

<p>
  <%= link_to "New Post", "/places/#{@place.id}/entries/new", class: "btn btn-dark mb-4" %>
</p>

<div class="row">
  <% @entries.each do |entry| %>
    <div class="col-md-4">
      <div class="card mb-3">
        <% if entry.image.attached? %>
          <%= image_tag entry.image, class: "card-img-top", alt: "Entry Image" %>
        <% else %>
          <img src="https://via.placeholder.com/300" class="card-img-top" alt="Placeholder Image">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= entry.title %></h5>
          <p class="card-text"><%= entry.occurred_on %></p>
          <p class="card-text"><%= entry.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<p>
  <%= link_to "Back to All Places", "/places", class: "btn btn-outline-secondary" %>
</p>

