<!DOCTYPE html>
<html>
  <head>
    <title>Travel Journal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <a class="navbar-brand" href="/">Home</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <% if @current_user %>
              <li class="nav-item">
                <span class="navbar-text">Logged in as: <%= @current_user.username %></span>
              </li>
              <li class="nav-item">
                <%= form_with url: logout_path, method: :delete do %>
                  <button type="submit" class="btn btn-danger">Logout</button>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <a href="/login" class="nav-link">Login</a>
              </li>
              <li class="nav-item">
                <a href="/users/new" class="nav-link">Signup</a>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
      
      <%= yield %>
    </div>
  </body>
</html>